################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/bin/Debug/net9.0
/Core/bin/Debug/net9.0
/Infrastructure/bin/Debug/net9.0
